<section>
    <br><br><br>
    <div class="container">
        <div class="row bg-primary justify-content-center align-items-center title-page">
            <h1 class=" text-center">Ajout  de  Concert</h1>
        </div>
        <br>
        <!-- Information general -->
        <div class="row title-text-style">
            <h3 class="text-dark">Informations Générales</h3>
        </div>
        <div class="row">
            <!-- input name of concert -->
            <h6 class="align-items-start justify-content-start">Nom du Concert</h6>
            <input class="form-control" id="name-concert-input" ng-model="titreConcert" type="text">
        </div>
        <div class="row">
            <!-- input date of concert-->
            <h6>Date du Concert</h6>
            <input class="form-control" type="text" id="datepicker" ng-model="dateConcert" size="30">
        </div>
        <br>
        <!-- List of view -->
        <div class="row title-text-style">
            <h3 class="text-dark">Liste de Vues</h3>
        </div>
        <div class="row">
            <!-- show table of view list -->
            <table class="table">
                <thead>
                <tr class="bg-primary" id="title-view-table">
                    <th scope="col">No.</th>
                    <th scope="col">Titre de Vue</th>
                    <th scope="col">Nom du Fichier</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="vue in listeVue">
                        <th scope="row">{{donneesVue[listeVue.indexOf(vue)].numeroVue}}</th>
                        <td>{{donneesVue[listeVue.indexOf(vue)].description}}</td>
                        <td>{{vue.name}}</td>
                        <td>
                            <button class="btn btn-outline-primary" ng-click="supprimerVue(vue)" type="button">Supprimer</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Add the view -->
        <br>
        <div id="add-view">
            <div class="row title-text-style">
                <h3 class="text-dark">Ajouter une Vue</h3>
            </div>
<!--            <div class="">-->
<!--                 input name of view-->
<!--                <label>Nom de Vue</label>-->
<!--                <input ng-model="nomVue" class="form-control" id="name-vue" type="text">-->
<!--            </div>-->
            <div class="row">
                <!-- input description of view-->
                <label>Description</label>
                <input ng-model="descriptionVue" class="form-control" id="desp-vue" type="text">
            </div>
            <div class="row">
                <!-- input pathname of view file-->
                <label>Importer la vue </label>
                <div class="input-group">
                    <span class="input-group-btn">
                            <input class="file-upload form-control" id="fichier" name="myFile" ng-model="files" type="file">
                    </span>
                    <button class="btn btn-success text-white" ng-click="ajoutVue()" type="submit">Ajouter une vue</button>
                </div>
            </div>
        </div>
        <!-- button to submit -->
        <br>
        <div class="row">
            <p>
                <button class="btn btn-primary" ng-click="validerPage()" type="submit">Ajouter concert</button>
            </p>
        </div>
    </div>
</section>