<br> <br> <br>
<div class="row">
    <div class="col-md-12">
        <div class="table table-striped">
            <div ng-repeat="concert in listeConcert">
                <div class="cadre">
                    <div class="media mx-auto">
                        <div class="media-left min-vw-20" ng-click="goVisualisation(concert.idConcert)">
                            <img class="pull-left" src="assets/img/playImg.png"></img>
                        </div>
                        <div style="width:15px"></div>
                        <div class="media-body min-vw-20 d-none d-sm-block">
                            <h1 ng-click="goVisualisation(concert.idConcert)">{{concert.titreConcert}}</h1>
                            <p>{{concert.dateConcert}}</p>
                            <p><i>Vues disponibles ({{listeDescriptionVue[listeConcert.indexOf(concert)]}})</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
