﻿.cadre {
    background-color: white;
    color: black;
    border: groove;
    margin: 20px;
    padding: 20px;
    vertical-align : bottom;
    inline : block;
}

.navbar-style {
    color: #FFFFFF;
    background-color: #005ce6;
}

nav .navbar-nav li a {
    color: white;
}

.navbar-brand {
    color: white !important;
}

.navbar-right {
    padding: 10px;
    padding-right : 40px;
}

.disabled {
    color: gray !important;
}

.btn{
    background-color : white;
    color : black;
    opacity: 1;
    transition: 0.5s;
    margin-left: auto;
}

.btn:hover{opacity : 0.6;
    background-color : gray;
    color : wheat;
}

img {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

media-body{
    display: inline-block;
    vertical-align: middle;
}



media-left{
    display: inline-block;
    vertical-align: middle;
}


.dropdown-menu {
    width: 600px !important;
    height: 200px !important;
    padding : 10px;
}

/* Page add_concert */
.title-page {
    background-image: linear-gradient(45deg, white, white);
    height: 80px;
    font-family: Impact;
    margin-top: 10px;
}
.row-area {
    margin-top: 5%;
}

.title-text-style {
    width: 100%;
    font-family: Optima;
    font-weight: bold;
}
#title-view-table {
    background-image: linear-gradient(45deg, white, white);

}
#add-view {
    border: #0c5460;
}

.input-group-btn {
    width: 85%;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}