body { margin: 0; }

#overlays-wrap {
    position: absolute;
    width: 100%;
    height: 95%;
    left: 0;
    top: 0;
    z-index: 2147483647;
}

.overlay-item {
    position: absolute;
    top: 0;
    color: #FFF;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: 2147483647;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
}

.overlay-item .vo-question {
    margin: 10px 0 40px 0;
    width: 80%;
    text-align: center;
    line-height: 1.5;
}

.vtask-choices-wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1000px;
    min-height: 10rem;
}

.vtask-choice-item .vtask-choice {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 2px solid #079ad9;
    border-radius: 5px;
    padding: 1rem;
    transition: transform 300ms ease;
    background: rgba(0,0,0,0.5);
    z-index: 500;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

.vtask-btn-continue {
    color: #FFFFFF!important;
    border-color: #2B78C5;
    border-bottom-color: #2a65a0;
    text-decoration: none;
    text-shadow: none;
    color: #FFF;
    background: #39F;
    margin-top: 40px;
    padding: 10px 20px;
    font-family: Arial,sans-serif;
    font-size: 16px;
}
