#visualConcert {
    height:85%;
    width:71.5%;
    margin:auto;
}

#videowrapper {
    height:100%;
    width:100%;
}

#videoplay {
    width:100%;
    height:100%;
}

.right-overlay-zone {
    width:25%;
    height:26.25%;
}

.bottom-overlay-zone {
    width:25%;
    height:21.25%;
}