<section>
    <br><br><br>
    <div id="visualConcert">
        <div id="videowrapper">
            <video id="videoplay" class="video-js vjs-default-skin" controls preload="metadata" poster="" autoplay="true">
            </video>
            <div id="overlays-wrap">
                <div class="overlay-item bottom-overlay-zone" onclick="changeVideo(1)" style="top:78.75%;">
                </div>
                <div class="overlay-item bottom-overlay-zone" onclick="changeVideo(2)" style="top:78.75%;left:25%;">
                </div>
                <div class="overlay-item bottom-overlay-zone" onclick="changeVideo(3)" style="top:78.75%;left:50%;">
                </div>
                <div class="overlay-item bottom-overlay-zone" onclick="changeVideo(4)" style="top:78.75%;left:75%;">
                </div>
                <div class="overlay-item right-overlay-zone" onclick="changeVideo(5)" style="top:52.5%;left:75%;">
                </div>
                <div class="overlay-item right-overlay-zone" onclick="changeVideo(6)" style="top:26.25%;left:75%;">
                </div>
                <div class="overlay-item right-overlay-zone" onclick="changeVideo(7)" style="top:0;left:75%;">
                </div>
            </div>
        </div>
    </div>


</section>